*.log
*.db
*.db-lock
*.db-lock.lock
*.db-lock.lock.lock
*.db-lock.lock.lock.lock
*.db-lock.lock.lock.lock.lock
*.db-lock.lock.lock.lock.lock.lock
*.db-lock.lock.lock.lock.lock.lock.lock
*.db-lock.lock.lock.lock.lock.lock.lock.lock
go1.22.4.linux-amd64.tar.gz
go1.22.4.linux-arm64.tar.gz
go1.22.4.linux-arm64.tar.gz.sha256
go1.22.4.linux-arm64.tar.gz.sha256.sum
go1.22.4.linux-arm64.tar.gz.sha256.sum.sig
go1.22.4.linux-arm64.tar.gz.sha256.sum.sig.asc
go1.22.4.linux-arm64.tar.gz.sha256.sum.sig.asc.pub
go1.22.4.linux-arm64.tar.gz.sha256.sum.sig.asc.pub.key
go1.22.4.linux-arm64.tar.gz.sha256.sum.sig.asc.pub.key.pub
go1.22.4.linux-arm64.tar.gz.sha256.sum.sig.asc.pub.key.pub.key
raft-data1
raft-data2
raft-data3
raft-data4
raft-data5
raft-data6
raft-data7
raft-data8
raft-data9
raft-data10
raft-data11
raft-data12
raft-data13
raft-data14
raft-data15
raft-data16
raft-data17
raft-data18
raft-data19
raft-data20
raft-data21
raft-data22
raft-data23
raft-data24
raft-data25
raft-data26
raft-data27
raft-data28
raft-data29
raft-data30
test-data
distributed_demo
put
get
data
data1
data2
data3
data4
data5
data6
data7
data8
data9
data10
DISTRIBUTED_GUIDE.md 
RAFT_IMPLEMENTATION.md
